extends ../layout/common.pug

block content
  h1 Create Teacher

  if errors
    each error in errors
      .alert.alert-danger= error

  form(action="/teacher/create", method="POST" , enctype="multipart/form-data")
    .form-group
    label(for="name") Name
    input#name.form-control(name="name", type="text", value=values ? values.name : "")

    .form-group
    label(for="namej") 名前
    input#name.form-control(name="namej", type="text", value=values ? values.namej : "")

    .form-group
    label(for="age") 年齢
    input#age.form-control(name="age", type="number", value=values ? values.age : "")

    .form-group
    label(for="couse") コース
    input#couse.form-control(name="couse", type="text", value=values ? values.couse : "")

    .form-group
    label(for="email") Eメール
    input#email.form-control(name="email", type="text", value=values ? values.email : "")

    .form-group
    label(for="avatar") 写真
    input#avatar.form-control-file(name="avatar", type="file", value="")
    br
    button.btn.btn-primary Create